<p>
  <b>User:</b>
  <%=h @story.user.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @story.url %>
</p>

<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @story.description %>
</p>

<p>
  <b>Tags:</b>
  <%= linklize(@story.tag_list) %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
