<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || 'Roll on Rails') %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <div id="container">
    <p class="top">Roll on Rails</p>
    <div id="menu">
      <div style="float:left"><%= current_user.name if logged_in? %></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stories">Upcoming Stories</a></li>
        <% if logged_in? %>
        <li><a href="/stories/new">Submit a story</a></li>
        <li><a href="/logout">Logout</a></li>
        <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% end %>
      </ul>
    </div>

    <div id="center">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= current_user.name if logged_in? %>
      <%= yield  %>
    </div>
  </div>
</body>
</html>
